<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	  <a href="/"><div class="navbar-brand navbar-brand-centered">APIStruct</div></a>
      <ul class="nav navbar-nav navbar-right" style="padding-right: 30px;">
      	<li><a href="/database">Database</a></li>
      	<li><a href="/createroute">Create API Endpoint</a></li>
    </ul>
</nav>