<form class="form-horizontal">

    <!-- Legend -->
    <legend style="padding-left: 50px;">Database Configuration</legend>

    <!-- Server-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="server">Server</label>  
      <div class="col-md-4">
      <input id="server" name="server" type="text" placeholder="Server" class="form-control input-md">
      </div>
    </div>

    <!-- User -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="user">User</label>  
      <div class="col-md-4">
      <input id="user" name="username" type="text" placeholder="User" class="form-control input-md">
      </div>
    </div>

    <!-- Password -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="password">Password</label>  
      <div class="col-md-4">
      <input id="password" name="password" type="password" placeholder="Password" class="form-control input-md">
      </div>
    </div>

    <!-- Database -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="server">Database</label>  
      <div class="col-md-4">
      <input id="database" name="database" type="text" placeholder="Database" class="form-control input-md">
      </div>
    </div>

    <!-- Save -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="submit"></label>
      <div class="col-md-4">
        <button id="submit" name="submit" class="btn btn-success">Save</button>
      </div>
    </div>

</form>